/* Login.module.css */

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Container styling */
.loginContainer {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  margin: 0;
  padding-right: 5px;
}

/* Form styling */
.form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Header styling */
.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: x-large;
  
}

/* Input field styling */
.mb3 {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #333;
  font-weight: 500;
}

input {
  width: 95%;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
}

/* Button styling */
.btn {
  width: 70%;
  background-color: rgb(2, 172, 2);
  padding: 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 40px auto 10px 70px; /* Center the button horizontally */
  transition: background-color 0.3s;
  font-size: 15px;
}


.btn:hover {
  background-color: rgb(3, 158, 3);
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
